
/* 画面全体のスクロールを許可する設定 */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; 
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  height: auto !important; 
  min-height: 100%;
}

/* スタイル調整 */
.App-container {
  display: block;
  height: auto;
  overflow: visible;
}

/* Viteのデフォルト設定がレイアウトを固定化防止*/
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; 
  min-height: 100vh;
  display: block; 
}

body {
  margin: 0;
  display: block;
  place-items: start; 
  min-width: 320px;
  min-height: 100vh;
  overflow-y: auto !important; 
}

/* ダッシュボード内のメインエリアをスクロール機能 */
.main-content {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
}